<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0"><i class="fa-solid fa-plus"></i> イベントTODO投稿</h5>
      <div class="form-body p-4">
        <!--バリデーションエラー部-->
        <%= render "templates/validation", event: @event %>
        <!--投稿フォーム部-->
        <%= render "form", event: @event %>
      </div>
    </div>
  </div>
</div>